/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "daisyui" {
	themes: light --default;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(92% 0 0);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(70% 0.213 47.604);
	--color-primary-content: oklch(98% 0.016 73.684);
	--color-secondary: oklch(55% 0.013 58.071);
	--color-secondary-content: oklch(98% 0.001 106.423);
	--color-accent: oklch(68% 0.169 237.323);
	--color-accent-content: oklch(97% 0.013 236.62);
	--color-neutral: oklch(37% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(54% 0.245 262.881);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

html {
	font-family: "Elms sans", sans-serif;
}
